<div class="panelMacro">
    <table class="infoMacro">
        <colgroup>
            <col width="48"><col>
        </colgroup>
        <tbody>
            <tr>
                <td valign="top">
                    <img src="${settingsManager.globalSettings.baseUrl}/download/resources/fr.xebia.confluence2wordpress/confluence2wordpress.png" width="32" height="32" align="absmiddle" alt="" border="0">
                </td>
                <td>
                    <b>$i18n.getText("macro.metadata.heading")</b><br/>
                    #if ($permalink)
                    <a href="$permalink" target="wp-preview">$action.getText("macro.metadata.link.viewPost")</a> |
                    #end
                    <a href="${settingsManager.globalSettings.baseUrl}/confluence2wordpress/convert.action?pageId=$page.id">$action.getText("macro.metadata.link.sync")</a><br/>
                    <img src="${settingsManager.globalSettings.baseUrl}/images/icons/emoticons/warning.gif" width="16" height="16" align="absmiddle" alt="" border="0">
                    <small>$i18n.getText("macro.metadata.text")</small>
                </td>
            </tr>
        </tbody>
    </table>
</div>