<p><img src="http://blog.xebia.fr/wp-content/uploads/2007/06/revuedepresse.png" alt="Revue de Presse Xebia" style="margin: 1em 1em 1em 1em; float: right;" /><br />
<em>La revue de presse de l’actualité Java/J2EE hebdomadaire proposée par Xebia.</em></p>

#foreach($heading in $headings)
<p><strong>$heading.label</strong></p>
<ul>
#foreach($subHeading in $heading.children)
<li><a href="$baseUrl$subHeading.anchor">$subHeading.label</a></li>
#end
</ul>
#end

<!--more-->
