#*
 * Copyright 2011 Alexandre Dutra
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 *#
#htmlSafe()
<html>
<head>
    <title>$action.page.displayTitle - $action.getText("sync.title")</title>
    <meta name="decorator" content="atl.general"/>
    #requireResource("fr.dutra.confluence2wordpress:conversion-resources")
    #requireResource($action.getText("sync.js.datepicker.resource"))
</head>
<body>

#applyDecorator("root")
#decoratorParam("helper" $action.helper)
#decoratorParam("mode" "edit")
#decoratorParam("context" "page")
#end
    
#if ($action.hasSuccessMessage())
    <div class="aui-message success shadowed closeable">
        <p class="title">
            <span class="aui-icon icon-success"></span>
            <strong>
			$action.successMessage
            </strong>
        </p>
        <p><a href="$action.metadata.permalink" target="wp-preview">$action.getText("sync.link.viewPost")</a></p>
        <p><a href="$action.editLink" target="wp-edit">$action.getText("sync.link.editPost")</a></p>
    </div>   
#end

<form id="options" action="sync.action" method="post" class="aui long-label">

    <input name="pageId" type="hidden" value="$action.pageId" />

    <h2>$action.getText("sync.form.title.conversionOptions")</h2>
    
    <div class="field-group">
        <label>$action.getText("sync.form.pageToTranslate")</label>
        <span class="field-value"><a href="${settingsManager.globalSettings.baseUrl}${action.page.urlPath}"><strong>$action.page.displayTitle</strong> (v. $action.page.version - ID $action.pageId)</a></span>
    </div>    
    
    <div class="field-group">
        <label for="pageTitle">
            $action.getText("sync.form.pageTitle.label")
            <span class="form-icon aui-icon icon-required"/>
        </label>
        <input id="pageTitle" name="metadata.pageTitle" type="text" value="$action.metadata.pageTitle" class="text long-field"/>
    </div>    
    
    <div class="field-group">
        <label for="ignoredConfluenceMacros">$action.getText("sync.form.ignoredConfluenceMacros.label")</label>
        <input id="ignoredConfluenceMacros" name="ignoredConfluenceMacrosAsString" type="text" value="$!action.ignoredConfluenceMacrosAsString" class="text long-field" />
        <div class="description">$action.getText("sync.form.ignoredConfluenceMacros.description")</div>
    </div>    
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var availableMacros = [#foreach($availableMacro in $action.availableMacros)"$availableMacro"#if($velocityCount < $action.availableMacros.size()),#end#end];
            autoCompleteMultiple('ignoredConfluenceMacros', availableMacros, 2);
         });
    </script>
    
    <div class="field-group">
        <label>
            $action.getText("sync.form.tagAttributes.label")
        </label>
        <table id="tagAttributes" style="clear:none">
	        <thead>
	        	<tr>
	        		<td>$action.getText("sync.form.tagName.label")&nbsp;<span class="form-icon aui-icon icon-required"/></td>
	        		<td>$action.getText("sync.form.tagAttribute.label")&nbsp;<span class="form-icon aui-icon icon-required"/></td>
	        	</tr>
	        </thead>
	        <tbody></tbody>
	    </table>
	    <input id="tagAttributes-add" class="button" type="button" value="$action.getText("sync.form.tagAttributes.add.label")" style="margin:0" />
        <div class="description">$action.getText("sync.form.tagAttributes.description")</div>
	</div>
      
	<script type="text/javascript">

        jQuery(document).ready(function() {
        	var tagAttributesManager = new TagAttributesManager('tagAttributes', '$action.getText("sync.form.tagAttributes.delete.label")');
		    tagAttributesManager.init();
		    #if( ! $action.tagNames.empty )
		    #set( $size = $action.tagNames.size() - 1 )
		    #foreach ($i in [0 .. $size])
		    tagAttributesManager.addTagAttributesRow("$!action.tagNames.get($i)", "$!action.tagAttributes.get($i)");
		    #end
		    #end
        });
         
	</script>
    
    <fieldset class="group">
      <div class="checkbox">
        <input id="optimizeForRDP" name="metadata.optimizeForRDP" value="true" type="checkbox" class="checkbox" #if($action.metadata.optimizeForRDP)checked="checked"#end />
        <label for="optimizeForRDP">$action.getText("sync.form.optimizeForRDP.label")</label>
      </div>
      <div class="field-group">
        <div class="description">$action.getText("sync.form.optimizeForRDP.description")</div>
      </div>
    </fieldset>

    <script type="text/javascript">
        function toggleIncludeTOC(checked){
            var includeTOC = jQuery("#includeTOC");
            if(checked){
                includeTOC.attr("checked", "checked");
                includeTOC.attr("disabled", "disabled");
            } else {
                includeTOC.removeAttr("disabled");
            }
        }
        jQuery("#optimizeForRDP").click(function() {
            toggleIncludeTOC(jQuery(this).is(":checked"));
         });
         jQuery(document).ready(function() {
            toggleIncludeTOC(jQuery("#optimizeForRDP").is(":checked"));
         });
    </script>
    
   <fieldset class="group">
      <div class="checkbox">
        <input id="includeTOC" name="metadata.includeTOC" value="true" type="checkbox" class="checkbox" #if($action.metadata.includeTOC)checked="checked"#end />
        <label for="includeTOC">$action.getText("sync.form.includeTOC.label")</label>
      </div>
      <div class="field-group">
        <div class="description">$action.getText("sync.form.includeTOC.description")</div>
      </div>
    </fieldset>

   <fieldset class="group">
      <div class="checkbox">
        <input id="formatHtml" name="metadata.formatHtml" value="true" type="checkbox" class="checkbox" #if($action.metadata.formatHtml)checked="checked"#end />
        <label for="formatHtml">$action.getText("sync.form.formatHtml.label")</label>
      </div>
      <div class="field-group">
        <div class="description">$action.getText("sync.form.formatHtml.description")</div>
      </div>
    </fieldset>

    <h2>$action.getText("sync.form.title.syncOptions")</h2>

    <input name="metadata.draft" value="$action.metadata.draft" type="hidden" />
    <fieldset class="group">
        <legend><span>$action.getText("sync.form.draft.label")</legend>
        <div class="matrix">
          <div class="radio" style="width:8em">
            <input id="draft.true" name="metadata.draft.display" value="true" type="radio" class="radio" #if($action.metadata.draft)checked="checked"#end onclick="this.form.elements['metadata.draft'].value=this.value" />
            <label for="draft.true">$action.getText("sync.form.draft.true.label")</label>
          </div>
          <div class="radio">
            <input disabled="disabled" id="draft.false" name="metadata.draft.display" value="false" type="radio" class="radio" #if( ! $action.metadata.draft)checked="checked"#end onclick="this.form.elements['metadata.draft'].value=this.value" />
            <label for="draft.false">$action.getText("sync.form.draft.false.label")</label>
          </div>
      </div>
      <div class="field-group">
        <div class="description">$action.getText("sync.form.draft.description")</div>
      </div>
    </fieldset>
    
    <div class="field-group">
        <label for="postId">
            $action.getText("sync.form.postId.label")
        </label>
        <input type="text" id="postId" name="metadata.postId" class="text short-field" value="$!action.metadata.postId" />
        <div class="description">$action.getText("sync.form.postId.description")</div>
    </div>
    
    <div class="field-group">
        <label for="dateCreated">
            $action.getText("sync.form.dateCreated.label")
        </label>
        <input id="dateCreated" name="dateCreated" type="text medium-field" value="$!action.dateCreated" class="text"/>
        #set ($args = [ $action.getText($dateFormatter.timeZone.messageKey) ])
        <div class="description">$action.getText("sync.form.dateCreated.description", $args)</div>
    </div>

    <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#dateCreated').datetimepicker({
            dateFormat: '$action.getText("sync.js.datepicker.format.js.date")',
            timeFormat: '$action.getText("sync.js.datepicker.format.js.time")',
            hour: #if( "$!action.metadata.dateCreated" == "") 10 #else ${action.getText("sync.js.datepicker.js.regex.hours")}.exec('$action.dateCreated')[1] #end,
            minute: #if( "$!action.metadata.dateCreated" == "") 0 #else ${action.getText("sync.js.datepicker.js.regex.minutes")}.exec('$action.dateCreated')[1] #end,
            stepMinute: 5,
            hourGrid: 5,
            minuteGrid: 10,
            showTime: false,
            constrainInput: false
        });
     });
    </script>
    
    <div class="field-group">
        <label for="postSlug">
            $action.getText("sync.form.postSlug.label")
        </label>
        <input type="text" id="postSlug" name="metadata.postSlug" class="text long-field" value="$!action.metadata.postSlug" />
        <div class="description">$action.getText("sync.form.postSlug.description")</div>
    </div>

    <div class="field-group">
        <label for="authorId">
            $action.getText("sync.form.authorId.label")
            <span class="form-icon aui-icon icon-required"/>
        </label>
        <select id="authorId" name="metadata.authorId" class="select long-field">
            #foreach($wordpressUser in $action.wordpressUsers)
                <option value="$wordpressUser.id" #if( $wordpressUser.id == $action.metadata.authorId ) selected="true" #end >$wordpressUser.niceUsername</option>
            #end
        </select>
    </div>
    
    <script type="text/javascript">
    jQuery(function() {
        jQuery(document).ready(function() {
            jQuery( "#authorId" ).autocompleteOnCombobox();
            jQuery( "#authorId_input" ).addClass("long-field");
        });
    });
    </script>
    
    <div class="field-group">
        <label for="categoryNames">
            $action.getText("sync.form.categoryNames.label")
            <span class="form-icon aui-icon icon-required"/>
        </label>
        <select id="categoryNames" name="metadata.categoryNames" multiple="true" class="multi-select">
            #foreach($wordpressCategory in $action.wordpressCategories)
                <option value="$wordpressCategory.categoryName" #if( $action.metadata.categoryNames.contains($wordpressCategory.categoryName) ) selected="true" #end >$wordpressCategory.categoryName</option>
            #end
        </select>
        <div class="description">$action.getText("sync.form.categoryNames.description")</div>
    </div>
    
    <script type="text/javascript">
    jQuery(function() {
        jQuery(document).ready(function() {
            jQuery( "#categoryNames" ).autocompleteOnCombobox();
            jQuery( "#categoryNames_input" ).addClass("long-field");
        });
    });
    </script>
    
    <div class="field-group">
        <label for="tagNamesAsString">
            $action.getText("sync.form.tagNames.label")
        </label>
        <input id="tagNamesAsString" name="tagNamesAsString" value="$!action.tagNamesAsString" class="text long-field" />
        <div class="description">$action.getText("sync.form.tagNames.description")</div>
    </div>
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var availableTags = [#foreach($wordpressTag in $action.wordpressTags)"$wordpressTag.name"#if($velocityCount < $action.wordpressTags.size()),#end#end];
            autoCompleteMultiple('tagNamesAsString', availableTags);
         });
    </script>
    
   <fieldset class="group">
      <div class="checkbox">
        <input id="allowPostOverride" name="allowPostOverride" value="true" type="checkbox" class="checkbox" #if($action.allowPostOverride)checked="checked"#end />
        <label for="allowPostOverride">$action.getText("sync.form.allowPostOverride.label")</label>
      </div>
      <div class="field-group">
        <div class="description">$action.getText("sync.form.allowPostOverride.description")</div>
      </div>
    </fieldset>
            
    <div class="buttons-container">
      <div class="buttons">
        <input type="submit" class="button submit" value="$action.getText("sync.form.button.sync")" onclick="this.form.target='_self';this.form.action='sync.action'" />
        <input type="submit" class="button submit" value="$action.getText("sync.form.button.preview")" onclick="this.form.target='_blank';this.form.action='preview.action'" />
        #if($action.remoteUserHasConfigurationPermission)
        <a href="settings.action?pageUrl=/confluence2wordpress/syncOptions.action?pageId=$action.pageId">$action.getText("sync.form.link.settings")</a>
        &nbsp;
        #end
        |&nbsp;
        <a class="cancel texticon" href="${settingsManager.globalSettings.baseUrl}${action.page.urlPath}">$action.getText("sync.form.link.cancel")</a>
      </div>
    </div>
    
</form>

</body>
</html>