<html>
<head>
<title>$action.getText("wordpress.converter")</title>
<meta name="decorator" content="atl.general"/>
</head>
<body>

<h2>$action.getText("conversion.options")</h2>

<div>

<form id="options" action="convert.action" method="post">

<input type="hidden" name="pageId" value="$action.pageId" />
<input type="hidden" name="actionId" value="$action.actionId" />

<table>

<tr>
<td nowrap="nowrap" align="right"><label>$action.getText("page.to.translate")&nbsp;:&nbsp;</label></td>
<td><a href="$action.baseUrl/$action.page.urlPath"><strong>$action.page.displayTitle</strong> (v. $action.page.version - ID $action.pageId)</a></td>
</tr>

<tr>
<td nowrap="nowrap" align="right"><label for="uploadedFilesBaseUrl">$action.getText("form.uploadedFilesBaseUrl.label")&nbsp;:&nbsp;</label></td>
<td><input id="uploadedFilesBaseUrl" name="uploadedFilesBaseUrl" type="text" size="80" value="$action.uploadedFilesBaseUrl" /></td>
</tr>

<tr>
<td nowrap="nowrap" align="right"><label for="ignoreConfluenceMacros">$action.getText("form.ignoreConfluenceMacros.label")&nbsp;:&nbsp;</label></td>
<td><input id="ignoreConfluenceMacros" name="ignoreConfluenceMacros" type="text" size="80" value="$action.ignoreConfluenceMacros" /></td>
</tr>

<tr>
<td nowrap="nowrap" align="right"><label for="includeRDPHeader">$action.getText("form.includeRDPHeader.label")&nbsp;:&nbsp;</label></td>
<td><input id="includeRDPHeader" name="includeRDPHeader" type="checkbox" checked="$action.includeRDPHeader" /></td>
</tr>

</table>

<input type="submit" value="$action.getText("form.button.convert")" onclick="this.form.actionId.value='CONVERT'">
<input type="submit" value="$action.getText("form.button.post")" onclick="this.form.actionId.value='POST'">
<input type="button" value="$action.getText("form.button.cancel")" onclick="document.location='$action.baseUrl/$action.page.urlPath'">

</form>

</div>


<table width="100%">

<tr>
<td width="50%"><h2>$action.getText("conversion.input")</h2></td>
<td width="50%"><h2>$action.getText("conversion.output")</h2></td>
</tr>

<tr>
<td width="49%" style="padding-right:1%">
<textarea style="width:100%;font-family:monospace" rows="20" readonly="true" wrap="off">$action.wikiMarkupEscaped</textarea>
</td>

<td width="49%" style="padding-right:1%">
<textarea style="width:100%;font-family:monospace" rows="20" readonly="true" wrap="off">$action.wordPressHtmlMarkupEscaped</textarea>
</td>
</tr>

</table>

</body>
</html>