<html>
<head>
<title>WordPress Converter</title>
<meta name="decorator" content="atl.general"/>
</head>
<body>

<h2>WordPress Converter</h2>

<h2>Conversion Options</h2>

<div>
<form id="options" action="convert.action" method="post">
<input type="hidden" name="pageId" width="100%" value="$action.pageId" />

<table>

<tr>
<td nowrap="nowrap" align="right" valign="top"><label>Page to Translate&nbsp;:&nbsp;</label></td>
<td><strong>$action.page.displayTitle</strong> (v. $action.page.version - ID $action.pageId)</td>
</tr>

#tag( TextField "name='htmlBaseUrl'"          "label='form.htmlBaseUrl.label'"          "size='80'" "value='$action.htmlBaseUrl'" )
#tag( TextField "name='uploadedFilesBaseUrl'" "label='form.uploadedFilesBaseUrl.label'" "size='80'" "value='$action.uploadedFilesBaseUrl'" )
#tag( TextField "name='ignoreConfluenceMacros'" "label='form.ignoreConfluenceMacros.label'" "size='80'" "value='$action.ignoreConfluenceMacros'" )

#tag( Checkbox "label='form.includeRDPHeader.label'" "name='includeRDPHeader'" "value='$action.includeRDPHeader'" )
#tag( Checkbox "label='form.includePictures.label'" "name='includePictures'" "value='$action.includePictures'" )
#tag( Checkbox "label='form.includeTables.label'" "name='includeTables'" "value='$action.includeTables'" )

#tag( Submit "id=convertSubmit" "name='convert'" "label='form.button.convert'" )
#tag( Submit "name='cancel'" "label='form.button.cancel'" )

</table>

</form>

</div>


<table width="100%">
<tr>
<td width="50%"><h2>Input</h2></td>
<td width="50%"><h2>Output</h2></td>
</tr>
<tr>
<td width="49%" style="padding-right:1%">
<textarea style="width:100%;font-family:monospace" rows="20" readonly="true" wrap="off">$action.wikiMarkupEscaped</textarea>
<td width="49%" style="padding-right:1%">
<textarea style="width:100%;font-family:monospace" rows="20" readonly="true" wrap="off">$action.htmlMarkupEscaped</textarea>
</td>
</tr>
</table>

##<h2>Preview</h2>
##
##$action.htmlMarkup

</body>
</html>